@keyframes float-coin {
    0% {
        transform: translateY(110vh) rotate(0deg) scale(0.8);
        opacity: 0;
    }

    10% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(-10vh) rotate(720deg) scale(0.8);
        opacity: 0;
    }
}